<div class="row">
  <div class="columns large-3">
    <h1>Dashboard</h1>
  </div>
</div>

<div class="row">
  <% if current_user.weight %>
    <div class="columns large-3">
      <div class="unit-panel">
        <h5>Weight</h5>
        <h1><%= current_user.weight.value.round(2) %></h1>
        <h5>pounds</h5>
      </div>
    </div>
  <% end %>

  <% if current_user.fat_percentage %>
    <div class="columns large-3">
       <div class="unit-panel">
        <h5>Body Fat</h5>
        <h1><%= current_user.fat_percentage.round(2) %></h1>
        <h5>percent</h5>
      </div>
    </div>
  <% end %>

  <% if current_user.lean_mass %>
    <div class="columns large-3">
       <div class="unit-panel">
        <h5>Lean Mass</h5>
        <h1><%= current_user.lean_mass.round(2) %></h1>
        <h5>pounds</h5>
      </div>
    </div>
  <% end %>

  <% if current_user.bmi %>
    <div class="columns large-3">
       <div class="unit-panel">
        <h5>BMI</h5>
        <h1><%= current_user.bmi.round(2) %></h1>
        <h5>points</h5>
      </div>
    </div>
  <% end %>
</div>
