<div class="row">
  <div class="columns large-3">
    <h1>Dashboard</h1>
  </div>
</div>

<div class="row">
  <div class="columns large-3">
    <div class="unit-panel">
       <h2 class="center"><%= current_user.weight.value %></h2>
       <h5>units</h5>
    </div>
  </div>

  <div class="columns large-3">
     <div class="unit-panel">
       <h2 class="center"><%= current_user.weight.value %></h2>
       <h5>units</h5>
    </div>
  </div>

  <div class="columns large-3">
     <div class="unit-panel">
       <h2 class="center"><%= current_user.weight.value %></h2>
       <h5>units</h5>
    </div>
  </div>

  <div class="columns large-3">
     <div class="unit-panel">
       <h2 class="center"><%= current_user.weight.value %></h2>
       <h5>units</h5>
    </div>
  </div>
</div>
