<nav class="sub-header-nav-bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3>Dashboard</h3>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <%= render 'weights/cards' %>
</div>

<div class="container-fluid">
  <%= render 'meals/cards' %>
</div>

<div class="container-fluid">
  <%= render 'sleeps/cards' %>
</div>
