*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.elasticbeanstalk/
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
.DS_Store
