<div class="row">
  <div class="columns large-12">
    <h3>Add weight</h3>
  </div>
</div>
<%= render 'form' %>

<div class="row">
  <div class="columns large-12">
    <%= link_to 'Back', weights_path %>
  </div>
</div>
