<div class="row">
  <div class="columns large-12">
    <table>
      <thead>
        <tr>
          <th>Start</th>
          <th>End</th>
          <th>Duration</th>
          <th>API</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tr ng-repeat="sleep in sleeps"}}>
        <td>{{sleep.start}}</td>
        <td>{{sleep.end}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
