<div class="row">
  <div class="columns large-12">
    <table>
      <thead>
        <tr>
          <th>Start</th>
          <th>End</th>
          <th>Duration</th>
          <th>API</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tr ng-repeat="sleep in sleeps"}}>
        <td><a href="/sleeps/{{sleep.id}}">{{sleep.start | date:"dd MMM yyyy h:mma"}}</a></td>
        <td><a href="/sleeps/{{sleep.id}}">{{sleep.end | date:"dd MMM yyyy h:mma"}}</a></td>
        <td>{{sleep | duration:"hours"}} hours</td>
        <td><a href="/sleeps/{{sleep.id}}.json">JSON</a></td>
        <td><a href="/sleeps/{{sleep.id}}/edit">Edit</a></td>
        <td><a href="/sleeps/{{sleep.id}}/edit">Destroy</a></td>
      </tr>
    </table>
  </div>
</div>
