<div ng-controller="SleepsCtrl">
  <nav class="sub-header-nav-bar">
    <div class="row">
      <div class="columns large-8">
        <h3>Sleeps</h3>
      </div>
      <div class="columns large-2">
        <%= link_to 'New Sleep', new_sleep_path, class: "small sub-header-nav-bar-button expand" %>
      </div>
      <div class="columns large-2">
        <a href="#" class="sub-header-nav-bar-button small expand split success">Data<span></span></a>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="columns large-12">
      <tabset>
        <tab heading="Summary">
          <div class="content summary" id="summary">
            <%= render 'summary' %>
          </div>
        </tab>
        <tab heading="Raw data">
          <div class="content active raw-data" id="raw-data">
            <%= render 'raw_data' %>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
