<div class="row">
  <div class="columns large-8 push-2">
    <h3 class="text-center">Add Sleep</h3>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="columns large-12">
    <p class="text-center"><strong><%= link_to 'Back', sleeps_path %></strong></p>
  </div>
</div>
