.unit-panel
  @extend .panel
  @extend .panel-default
  border-radius: 0px
  background: #fff
  border: 0px
  padding-bottom: 10px
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)
  +transition-property(box-shadow)
  +transition-duration(0.2s)
  
  h1, h3
    text-transform: uppercase
    font-size: $font-size-h4
    margin-bottom: 0px

  h1
    font-weight: 600
    margin-top: 0px

  h2
    margin: 0px
    font-size: $font-size-h1 * 2
    font-weight: 100

    small
      font-size: 18px
      font-weight: bold

  h3
    margin-top: 0px
    margin-bottom: 0px
    font-weight: 200

  small
    font-size: 100%
    color: $grey-hard

  hr
    height: 1px
    background: lighten($grey-hard, 25%)
    margin: 10px 0px

  .label
    border-radius: 0px

  &:hover
    box-shadow: 0 8px 17px rgba(0,0,0,.2)

  &:active
    box-shadow: 0 17px 50px rgba(0,0,0,.19)
