$sub-header-nav-bar-background: #dee3e9
$sub-header-nav-bar-h3-font-color: #6b7781

.sub-header-nav-bar
  width: 100%
  background: $sub-header-nav-bar-background
  padding-top: 10px

  // Title header for category/resource (i.e. Sleeps)
  h3
    color: $sub-header-nav-bar-h3-font-color
    float: left
    margin-top: 6px

  // New resource buttons
  .sub-header-nav-bar-button
    @extend button
    // @TODO needs to be screen size directive
    margin-bottom: 0px

  // Tabs
  .sub-header-nav-bar-tabs
    $sub-header-nav-bar-tabs-font-color-current: #6b7781
    $sub-header-nav-bar-tabs-font-color: #85909a

    @extend .tabs
    // @TODO needs to be screen size directive
    float: left
    margin-left: 20px

    dd > a
      font-weight: 500
      color: $sub-header-nav-bar-tabs-font-color
