.home
  &.index
    .contain-to-grid .top-bar
      margin-bottom: 0px
    #main
      background: $black-dark
      padding: 100px 0px
    h1
      color: $white
      text-align: center
    footer
      margin-top: 25px
