.home
  &.index
    .contain-to-grid .top-bar
      margin-bottom: 0px
    #main
      padding: 100px 0px
    h1
      text-align: center
    footer
      margin-top: 25px
  footer
    position: fixed
    bottom: 0px
    left: 0px
    width: 100%
    background-color: yellow
