/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 */

@import "bootstrap";

$purple-soft: #3f4f90;
$purple: #2E3A69;
$purple-hard: #1b2440;

$white: #EEF5FC;

$grey-soft: #EDEFF2;
$grey: #EDEFF2;
$grey-hard: #939AA4;

$border-radius: 3px;

@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/opacity";
@import "mixins/*";

@import "controllers/*";
@import "controllers/*/*";
@import "components/*";
