/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require cal-heatmap
 *= require font-awesome
 *= require bootstrap
 */

$turquoise: #1ABC9C;
$turquoise-dark: #16A085;

$green: #2ECC71;
$green-dark: #27AE60;

$blue: #3498DB;
$blue-dark: #2980B9;

$purple: #9B59B6;
$purple-dark: #8E44AD;

$yellow: #F1C40F;
$yellow-dark: #F39C12;

$orange: #E67E22;
$orange-dark: #D35400;

$red: #E74C3C;
$red-dark: #C0392B;

$white: #ECF0F1;
$white-dark: #BDC3C7;

$grey: #95A5A6;
$grey-dark: #7F8C8D;
$grey-light: #d0d7d8;

$black: #34495E;
$black-dark: #2C3E50;

$pink: #de4593;
$pink-dark: #a41d62;

$border-radius: 3px;

@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/opacity";

@import "controllers/*";
@import "controllers/*/*";
@import "components/*";
