<div class="row">
  <div class="columns large-4 push-4">
    <h3 class="text-center">Add Place</h3>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="columns large-12">
    <p class="text-center"><strong><%= link_to 'Back', places_path %></strong></p>
  </div>
</div>
