<div class="row">
  <div class="columns large-12">
    <ul class="inline-list left">
      <li>
        Crafted with care in Toronto
      </li>
      <li>
        Version 0.0.11
      </li>
    </ul>

    <ul class="inline-list right">
      <li>
        <span>Quant is <a href="https://www.github.com/jdjkelly/quantify">open source software</a></span>
      </li>
    </ul>
  </div>
</div>

