<div class="row">
  <div class="columns large-12">
    <ul class="inline-list">
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
      <li>
        <a href="/radical-privacy">Radical privacy</a>
      </li>
      <li>
        <a href="https://www.github.com/jdjkelly/bodyimage">Fork our source</a>
      </li>
    </ul>
  </div>
</div>
