<div class="container-fluid">
  <ul class="list-inline pull-left">
    <li>
      Crafted with care in Toronto
    </li>
    <li>
      Version 0.0.11
    </li>
  </ul>

  <ul class="list-inline pull-right">
    <li>
      <span>Quant is <a href="https://www.github.com/jdjkelly/quantify">open source software</a></span>
    </li>
  </ul>
</div>
