<div class="row">
  <div class="columns large-12">
    <ul class="inline-list">
      <li>
        <a href="https://www.github.com/jdjkelly/quantify">About</a>
      </li>
      <li>
        Crafted with care in Toronto
      </li>
    </ul>
  </div>
</div>

